# Dependencies
node_modules
.pnp
.pnp.*

# Testing/coverage
coverage

# Next.js build output
.next
out
build

# Debug/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Git and Editor folders
.git
.gitignore
.vscode
.idea

# Environment and Secrets
.env
.env.local
.env.production
.env*.local
*.pem
.clerk

# Docker & CI files
Dockerfile
.dockerignore
Jenkinsfile
pnpm-workspace.yaml

# Documentation/Artifacts
README.md
SUPABASE_README.md
temp
